
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.card-img-top {
  height: 200px;
  object-fit: contain;
  width: 100%
}

.star{
  font-size: small;
}
.star i{
  padding: 1px;
}

input:focus{
  outline: 0;
  box-shadow: none !important;
  border-color: initial !important;
}